<div id="loading" style="display: none">
    <div id="bg">
    </div>
    <div id="img">
        Loading...
        <br />
        <br />
        <img src='@Url.Content("~/Assets/img/loading-a.gif")' />
    </div>
</div>

