<div id="modalDialog" class="modal fade " tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button style="text-indent: 0 !important; font-size: 14pt !important; opacity: 0.6 !important;"
                        type="button" class="close" data-dismiss="modal" onclick=" clearModal() "></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="background-color: #f9f9f9;">
                <!-- Render Partial View -->
            </div>
        </div>
    </div>
</div>
<div id="modalDialogLv2" class="modal fade " tabindex="-1" data-backdrop="static" data-keyboard="false" style="padding-top: 20px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button style="text-indent: 0 !important; font-size: 14pt !important; opacity: 0.6 !important;"
                        type="button" class="close" data-dismiss="modal" onclick=" clearModalLv2() "></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="background-color: #f9f9f9;">
                <!-- Render Partial View -->
            </div>
        </div>
    </div>
</div>
<div id="modalDialogLv3" class="modal fade " tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button style="text-indent: 0 !important; font-size: 14pt !important; opacity: 0.6 !important;"
                        type="button" class="close" data-dismiss="modal" onclick="clearModal()"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="background-color: #f9f9f9;">
                <!-- Render Partial View -->
            </div>
        </div>
    </div>
</div>

