@using NCLS.WEB.Utility
@{
    var cm = new Common();
}


<div class="col-md-6">
    <div id="Chart1" class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bar-chart font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze">งานจดหมาย</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="javascript:;" class="fullscreen"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="chart_r3" class="chart" style="height: 500px;"></div>
        </div>
    </div>
</div>


<script>


    var ChartR3 = AmCharts.makeChart("chart_r3", {
        "type": "pie",
        "startDuration": 0,
        "theme": "light",
        "addClassNames": true,
        "legend": {
            "position": "top",
            "marginRight": 100,
            "autoMargins": true
        },
        "innerRadius": "30%",
        "defs": {
            "filter": [
                {
                    "id": "shadow",
                    "width": "200%",
                    "height": "200%",
                    "feOffset": {
                        "result": "offOut",
                        "in": "SourceAlpha",
                        "dx": 0,
                        "dy": 0
                    },
                    "feGaussianBlur": {
                        "result": "blurOut",
                        "in": "offOut",
                        "stdDeviation": 5
                    },
                    "feBlend": {
                        "in": "SourceGraphic",
                        "in2": "blurOut",
                        "mode": "normal"
                    }
                }
            ]
        },

        "valueField": "value",
        "titleField": "text",
        "id": "id",
        "export": {
            "enabled": true
        },
        "dataLoader": {
            "url": '@Constants.UrlAction.DashboardR3',
                        "format": "json"

        },
        "listeners": [{
            "event": "clickSlice",
            "method": function (e) {
                var dp = e.dataItem.dataContext;
                alert(dp[ChartR3.id]);
                e.ChartR3.validateData();

            }
        }]
    });


    $('#Chart1').closest('.portlet').find('.fullscreen').click(function () {
        ChartR3.invalidateSize();
    });




</script>

